
<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    LOGIN
                </div>
                <div class="card-body">
                        <label for="">Usuario<input type="text" id="" [(ngModel)]="usuario"></label>
                        <label for="">Contraseña<input type="password"  id=""  [(ngModel)]="password"></label>
                        <button class="btn btn-primary" (click)="iniciarSesion()">Iniciar Sesión</button>
                        
                </div>
            </div>
        </div>

        <div class="col">

        </div>
    </div>
</div>
