

<div class="container">
  <div class="row">
      <div class="col">

      </div>
      <div class="col">
          <div class="card">
              <div class="card-header">
                  REGISTRAR USUARIO
              </div>
              <div class="card-body">

                <div class="contents">
                  <label for="">Usuario<input type="text" id="" [(ngModel)]="correo"></label>
                </div>

                <div class="contents">
                  <label for="">Contraseña<input type="password"  id=""  [(ngModel)]="password"></label>
                </div>

                  <button class="btn btn-primary" (click)="registrarUsuario()">Registrar Usuario</button>
              </div>
          </div>
      </div>

      <div class="col">

      </div>
  </div>
</div>
